<a href="https://colab.research.google.com/github/Komal443111/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print
print("hello world")

hello world

In [ ]:
# biodata

user_name = input("Enter your Name: ")
father_name = input("Enter your Father's name: ")
age = int(input("Enter your Age: "))
dob = input("Enter your Date of Birth: ")
gender = input("Enter your Gender: ")
state = input("Enter your State: ")
nationality = input("Enter your Nationality: ")
religion= input("Enter your Religion: ")
occupation= input("Enter your Occupation: ")
education=input("Enter your Education: ")
language=input("Enter Languages you know: ")

#Output
print("Name: ",user_name)
print("Father's name is: ",father_name)
print("Age: ",age)
print("DOB: ",dob)
print("Gender: ", gender)
print("State: ",state)
print("Nationality: ",nationality)
print("Religion: ",religion)
print("Occupation: ",occupation)
print("Education: ",education)
print("Language:",language)

In [ ]:
#get quantities
pizza_quantity = int(input("Enter the number of pizza: "))
burger_quantity = int(input("Enter the number of burger: "))
pasta_quantity = int(input("Enter the quantity of pasta: "))
sandwiches_quantity =int(input("Enter the number of sandwiches: "))
# calculate prices
pizza_price = pizza_quantity*400
burger_price = burger_quantity*100
pasta_price = pasta_quantity*100
sandwiches_price = sandwiches_quantity*100
#calculate single product
print("pizza actual price",pizza_price)
discout_in_pizza = pizza_price*5/100
with_discout= pizza_price - discout_in_pizza
print("With discout pizza prize",with_discout)
print("Burger price",burger_price)
print("Pasta price",pasta_price)
print("Sandwich prize",sandwiches_price)
# calculate the total bill
total_bill = (with_discout+burger_price+pasta_price+sandwiches_price)
# display total bill
print("Total bill: ", total_bill)
discout= total_bill*10/100
total_discout= total_bill-discout
print("Discout",total_discout)

# offer
cpn= input("enter the coupan code ")
if cpn =="ES432":
  coupan_discout_percent=10
  payable_amount= total_discout*coupan_discout_percent/100
  total_product_price =total_discout-payable_amount
  print("Coupan Avail",total_product_price)

else:
  wrong_coupan=0
  payable_amount=total_discout*wrong_coupan/100
  total_product_price = total_discout-payable_amount
  print("Invalid code",total_product_price)

#delivery charges
if total_product_price>=400:
  print("delivery charges free",total_product_price)
else:
  print("Delivery charges add",total_product_price+50)

In [ ]:
age = int(input("Enter your age"))
if age>=18:
  print("You are eligible for voting")
elif age>=1:
  print("Not eligible for voting")
else:
  print("Please enter your right age")

In [ ]:
Gender = input("Enter Your Gender: ")
Age = int(input("Enter your age: "))
if Gender == "Male":
          print("Block A")
          if Age<=30:
            print("age is less than or equal to 30 ")

elif Gender == "Female":
  print("Block b")
  if Age>30:
    print("Age is greter than 30")
else:
  print("Invalid")

In [ ]:
#calculator
num1= float(input("Enter the first number: "))
op = input("Enter the Operator(+,-,*,/): ")
num2= float(input("Enter the second number: "))
if op=='+':
  print("Result is: ",num1+num2)
elif op=='-':
  print("Result is: ",num1-num2)
elif op=='*':
  print("Result is: ",num1*num2)
elif op=='/':
  if num2!=0:
    print("Result is: ",num1/num2)
  else:
    print("Error not divisible by zero")
else:
  print("Wrong operator")

Enter the first number: 1130
Enter the Operator(+,-,*,/): -
Enter the second number: 70
Result is:  1060.0

In [ ]:
# Radius and perimeter
import math
Radius = int(input("Enter the Radius: "))
area = math.pi*(Radius*Radius)
print("Area of circle is:",area)
Perimeter = 2*math.pi*Radius
print("Perimeter of circle is :",Perimeter)

In [ ]:
# Simple Interest
p = int(input("Enter the p amount"))
r = int(input("enter the rate"))
t = int(input("enter time"))
T=t/3
Simple_interest = p*r*T/100
print(Simple_interest)

Enter the p amount5000
enter the rate5
enter time7
583.3333333333334

In [ ]:
P = float(input("Enter p: "))
R = float(input("Enter rate: "))
M = float(input("Enter the months: "))
D = int(input("Enter days: "))
T = M + D/30
Simple_interest = P*R*T/100
print("Simple interest is:",Simple_interest)

In [ ]:
#simple interest
p = int(input("Enter principle: "))
r = int(input("Enter rate: "))
m = input("Enter month: ")
month = int(input("Enter the month: "))
y= int(input("Enter year: "))
d = int(input("Enter days: "))

if m == "january" or "march" or "may" or "july" or "august" or "october" or "december":
    t = month+d/31
elif m == "april" or "june" or "september" or"november":
    t = month+ d/30
elif m=="february":
    if y%4==0 and y % 100!=0 or y % 400==0:
      t= month+d/29
    else:
      t= month+ d/28
else:
  print("invalid")

si = p*r*t/100
print("Simple Interest:", si)
print(m)
print("Total amount: ",si+p)

In [ ]:
#leap year
year = int(input("Enter year :"))
if year % 4 ==0 and year % 100 != 0 or year % 400 == 0:
  print("leap year")
else:
  print("not leap year")

In [ ]:
#traffic lights
direction = input("Enter direction: ")
if direction == "north":
  print("(north in) is green")
  print("(east in) is red")
  print("(south in) is red")
  print("(west in) is red")

elif direction == "south":
    print("(south in) is green")
    print("(west in) is red")
    print("(north in) is green")
    print("(east in) is green")
elif direction== "west":
  print("(west in) is green")
  print("(north in) is red ")
  print("(south in) is red")
  print("(east in )is red")
elif direction== "east":
  print("(east in) is green")
  print("(south in) is red")
  print("(north in) is red")
  print("(west in) is red")
else:
  print("invalid direction")

In [ ]:
#sum from 1 to 1000
a = int(input("Enter fist term: "))
l = int(input("Enter last term: "))
n = int(input("Enter n: "))
print("the sum is:",n/2*(a+l))

Enter fist term: 1
Enter last term: 1000
Enter n: 1000
the sum is: 500500.0

In [ ]:
#sum from 1 to 1000
a1 = int(input("Enter first term: "))
a2 = int(input("Enter second term: "))
n = int(input("Enter n: "))
d = a2-a1
print("The difference is: ",d)
print("the sum is:",n/2*(a1+a1+(n-1)*d))

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

In [ ]:
sum = 0
for i in range(1,101):
  sum+=i
print(sum)

In [ ]:
a1 = int(input("Enter first term: "))
a2 = int(input("Enter second term: "))
d= a2-a1
n = int(input("Enter n terms: "))
last_term = a1+(n-1)*d
sum = 0
for i in range(3,last_term,d):
  sum+=i
print(sum)

In [ ]:
sum=0
for i in range(1,1002,5):
  sum+=i
print(sum)

In [ ]:
s ="code"
for x in range(len(s)):
  print(s[x])

c
o
d
e

In [ ]:
# factorial
fact = 1
for i in range(1,6):
  fact= fact*i
print(fact)

In [ ]:
# fibonacci
first_term =0
second_term =1
print(first_term)
print(second_term)
for i in range(2,11):
 third_term = first_term+second_term
 first_term = second_term
 second_term = third_term
 print(third_term)

In [ ]:
for i in range(9,5,-1):
  print(i)

In [ ]:
fact=1
sum=0
for i in range(1,3):
  fact=fact*i
  sum+=fact
print(sum)

3

In [ ]:
num=12
sum=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=int(num/10)
print(sum)

3

In [ ]:
num=int(input("Enter the numbers: "))
sum=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)

Enter the numbers: 134
8

In [1]:
num= 897
rev = 0
while num>0:
  digit=num%10
  rev = rev*10+digit
  num = int(num/10)
print(rev)

798

In [ ]:
sum=0
for i in range(1,101):
  square =i*i
  sum=sum+square
  # print(square)
print(sum)

338350

In [ ]:
num= int(input("Enter the number"))
for i in range(2,num):
  for j in range(2,i):
    if i%j==0:
      break
  else:
   print(i)

In [ ]:
num=565
temp= num
rev=0
while num>0:
 digit = num%10
 rev=rev*10+digit
 num=int(num/10)
print(rev)
# print(num)
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

In [ ]:
def num(a):
  print(a)
num("hello world")

hello world

In [ ]:
def sum(a,b):
  return a+b
sum(10,20)

30

In [ ]:
def add(n):
  sum=0
  for i in range(1,n+1):
   sum+=i
  print(sum)
add(11)

66

In [ ]:
def num(a):
  if a%2==0:
    print("even")
  else:
    print("odd")
num(4)

even

In [ ]:
def oddeven():
  m= int(input("Enter the number: "))
  if m%2==0:
    print("even")
  else:
    print("odd")
oddeven()

In [ ]:
def fab(n):
  first_term =0
  second_term=1
  for i in range(2,n+1):
     third_term =  first_term+second_term
     first_term= second_term
     second_term = third_term
     print(third_term)
fab(10)

In [ ]:
def fact(n):
  fact=1
  for i in range(1,n+1):
    fact= fact*i
  print(fact)
fact(5)

In [ ]:
def prime(a):
  for i in range(2,a):
    for j in range(2,i):
      if i%j==0:
       break
    else:
      print(i)
prime(20)

In [ ]:
def lines():
  n = int(input("no. of lines"))
  for i in range(1,n+1):
    for j in range(i):
      print("*",end="")
    print()
lines()

In [ ]:
def multi(a,b):
  c = a*b
  return c
d = multi(10,7)
print(d)

In [ ]:
def fact():
  fact = 1
  total = 0
  for i in range(1,11):
    fact = fact*i
    total+=fact
    print(total)
fact()

In [ ]:
def sumfact():
 sum=0
 for i in range(1,22,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=+fact
  print(sum)
sumfact()

In [9]:
def sumfact(n):
  sum=0
  fact=1
  for i in range(1,n):
    fact=fact*i
    if i%2!=0:
     sum=sum+fact
  print(sum)
sumfact(7)

127

In [ ]:
def add(*args):
  return sum(args)
add(6,2,2)

10

In [ ]:
def add(*args):
  sum=0
  for i in args:
    sum=sum+i
  return sum
add(1,4,6)

11

In [ ]:
def info(**bio):
  for key,value in bio.items():
    print({value})
info(name='Komal',age=21)

{'Komal'}
{21}

In [ ]:
a= lambda x,y:x+y
# print(a)
a(1,2)

3

In [ ]:
a=lambda  x,y,z:x+y+z
a(1,7,9)

17

In [ ]:
#2!+4!---
#1!+5!+9!+13!=?
#2!+6!+10!+----

In [ ]:
def evenfact(n):
  sum=0
  fact=1
  for i in range(1,n):
    fact=fact*i
    if i%2==0:
      sum=sum+fact
  print(sum)
evenfact(5)

26

In [ ]:
def fact():
  sum=0
  fact=1
  for i in range(1,14,2):
    fact=fact*i
    if i%2!=0:
      sum=sum+fact
  print(sum)
fact()

146599

In [ ]:
a= 289
b = 157
if a>b:
  small = b
else:
  small = a
for i in range(1,small+1):
  if a%i==0 and b%i==0:
      HCF=i
print(HCF)

1

In [ ]:
#factor of 20
a=20
for i in range(1,a+1):
  if a%i==0:
    print(i)

1
2
4
5
10
20

In [ ]:
a=289
b=187
if a>b:
  small = b
else:
  small = a
for i in range(1,small+1):
  if a%i==0 and b%i==0:
      hcf=i
lcm = a*b/hcf
print(lcm)

3179.0

In [ ]:
num1 = 50
num2 = 10
if num1>num2:
  greatest = num1
else:
  greatest = num2
for i in range(greatest,num1*num2+1):
  if i%num1==0 and i%num2==0:
    lcm = i
  break
print(i)

50

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)
fact(8)

40320

In [ ]:
def fab(n):
  if n<=0:
    return 0
  elif n==1:
    return 1
  else:
    return fab(n-1)+fab(n-2)
for i in range(11):
    print(fab(i))

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
name="komal"
for i in name:
  print(i)

k
o
m
a
l

In [ ]:
name="komal"
if "m" in name:
  print("available")
else:
  print("not available")

available

In [ ]:
name="komal"
print(name[0])

k

In [ ]:
name="     komal      "
name.strip()

'komal'

In [ ]:
name="ko mal"
name.replace("m","n")
name.replace(" ","")

'komal'

In [ ]:
name="komal"
name.startswith("k")
name.endswith("m")
name[0:3]

'kom'

In [ ]:
name="komal"
print(name[-3:])

mal

In [ ]:
name=12321
name2=str(name)
rev=name2[::-1]
if name2==rev:
  num=name/5
  print(num)
  print("palindrome")
else:
  print("not palindrome")

2464.2
palindrome

In [ ]:
name="komal"
rev =""
for char in name:
  rev = char+rev
print(rev)
if name==rev:
  print("Palindrome")
else:
  print("not palindrome")

lamok
not palindrome

In [ ]:
name="pqpq"
same_letter="p"
count=0
for char in name:
  if char==same_letter:
    count=count+1
print(count)

2

In [ ]:
sum=0
for i in range(1,101):
  if i%2!=0 and i%3!=0 and i%5!=0:
    sum=sum+i
print(sum)

1268

In [ ]:
sum=0
total=0
for i in range(1,101):
  total=total+i
  if i%2==0 or i%3==0 or i%5==0:
    sum=sum+i
    result=total-sum
print(result)

1268

In [ ]:
a=[1,2,3]#list
a.append(9)#add element at last
print(a[0])#index
print(a)#list
a[1]=10

print(a)
print(a.index(3))

In [ ]:
a=[5,6,7,8]
b=a[:3]
c=a[1:]
print(b)
print(c)

In [ ]:
a=[]
num=int(input("enter the number: "))
for i in range(num):
  item=(input(f"enteryour item number{i+1}: "))
  a.append(item)
print(a)

enter the number: 2
enteryour item number1: 1
enteryour item number2: 4
['1', '4']

In [ ]:
items=[]
amounts=[]
discounts=[]
total=0
total_discount_prize=0
for i in range(2):
  item=input(f"enter item name {i+1} ")
  amount=int(input(f"enter the price of item no{i+1} "))
  discount=int(input(f"enter discount {i+1} item "))
  items.append(item)
  amounts.append(amount)
  discounts.append(discount)
  dis=amount*discount/100
  total_discount_prize=total_discount_prize+dis
  discount_=total*15/100
  total_discount=total-discount_
  total=total+amount
print(items)
print(amounts)
print(total)
print(total_discount)
print(total_discount_prize)
print(discounts)

In [ ]:
flowers=[]
prices=[]
discounts=[]
total_discount_per_flower=0
total_amount=0

for i in range(2):
  flower=input("Enter flower name ")
  price=int(input(f"Enter price of {i+1} item "))
  discount=int(input(f"Enter the percentage of dicount per flower"))

  flowers.append(flower)
  prices.append(price)
  discounts.append(discount)
  dis=price*discount/100
  total_discount_per_flower=total_discount_per_flower+dis
  total_amount=total_amount+price
  payable_amount=total_amount-total_discount_per_flower
  discount_total=payable_amount*15/100
  total_prize_of_flowers=payable_amount-discount_total
print(flowers)
print(prices)
print(discounts)
print(payable_amount)
print(total_prize_of_flowers)
cpn=input("enter code")
if cpn=="cf41":
     cpn_discount=total_prize_of_flowers*5/100
     total_payable_amount=total_prize_of_flowers-cpn_discount
print(total_payable_amount)

Enter flower namerose
Enter price of 1 item 10000
Enter the percentage of dicount per flower12
Enter flower namesun
Enter price of 2 item 1000
Enter the percentage of dicount per flower12
['rose', 'sun']
[10000, 1000]
[12, 12]
9680.0
8228.0
enter codecf41
7816.6

In [ ]:
a=[1,2,3,3,4,5]
print(a[0:3])
print(a[:-3])
for i in a:
  print(i)

In [ ]:
cust_name=['Komal','Tanvi','Isha','Nikhil','Surya','Sukh','Aryan','Rahul','Shruti','Harsh','Arpit','Ishit','Aadi','Akshita','Harshita']
product=['TV','AC','Laptop','Mobile','Fridge','Fan','Speaker','Microwave','Clock','Headphone','Iron','Juicer','Lamp','Heater','Blender']
price=[2000,5000,8000,70000,9000,10000,11000,60000,20000,80000,70000,60000,80000,60000,80000]
state=['HP','UP','Rajastan','Punjab','MP','J&k','Gujrat','HP','Haryana','MP','Assam','Arunachal','HP','UTT','Maharastra']
sum=0
for i in price:
  sum=sum+i
print(sum)

625000

In [ ]:
cust_name=['Komal','Arpit','Tanvi','Isha','Nikhil','Surya','Sukh','Aryan','Rahul','Shruti','Harsh','Ishit','Aadi','Akshita','Harshita']
product=['TV','AC','Laptop','Mobile','Fridge','Fan','Speaker','Microwave','Fan','Headphone','Iron','Juicer','Fan','Heater','Blender']
price=[2000,5000,8000,70000,9000,10000,11000,60000,20000,80000,70000,60000,80000,60000,80000]
state=['HP','UP','Rajastan','Punjab','MP','J&k','Gujrat','HP','Haryana','MP','Assam','Arunachal','HP','UTT','Maharastra']
unique_state=[]
sales=[]
for i in state:
  if i not in unique_state:
    unique_state.append(i)
    sales.append(0)
print(unique_state)
for j in range(len(state)):
      index=unique_state.index(state[j])
      sales[index]=sales[index]+price[j]
print(sales)
unique_product=[]
sales_product=[]
for i in product:
  if i not in unique_product:
    unique_product.append(i)
    sales_product.append(0)
print(unique_product)
for j in range(len(product)):
  index=unique_product.index(product[j])
  sales_product[index]=sales_product[index]+price[j]
print(sales_product)

In [ ]:
name=['komal','komal','aryan','arpit']
state=['hp','punjab','hp','up']

price=[1000,1000,1200,1300]
unique_name=[]
sale=[]
for i in name:
  if i not in unique_name:
    unique_name.append(i)
    sale.append(0)
print(unique_name)
for j in range(len(name)):
  index=unique_name.index(name[j])
  sale[index]=sale[index]+price[j]
print(sale)
unique_state=[]
sale=[]
for i in state:
  if i not in unique_state:
    unique_state.append(i)
    sale.append(0)
print(unique_state)
for j in range (len(state)):
  index= unique_state.index(state[j])
  sale[index]=sale[index]+price[j]
print(sale)

In [7]:
num= int(input("Enter number"))
temp=num
rev=0
while num>0:
  digit=num%10
  rev = rev*10+digit
  num=num//10
print(rev)
if temp==rev:
  print("Palindrome")
else:
  print("not Palindrome")

Enter number12345
54321
not Palindrome