<a href="https://colab.research.google.com/github/Komal443111/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

In [ ]:

# biodata

user_name = input("Enter your Name")
father_name = input("Enter your Father's name")
age = int(input("Enter your Age"))
dob = input("Enter your Date of Birth")
gender = input("Enter your Gender")
state = input("Enter your State")
nationality = input("Enter your Nationality")
religion= input("Enter your Religion")
occupation= input("Enter your Occupation ")
education=input("Enter your Education")
language=input("Enter Languages you know")

#Output
print("Name: ",user_name)
print("Father's name is: ",father_name)
print("Age: ",age)
print("DOB: ",dob)
print("Gender: ", gender)
print("State: ",state)
print("Nationality: ",nationality)
print("Religion: ",religion)
print("Occupation: ",occupation)
print("Education: ",education)
print("Language:",language)

In [ ]:
#get quantities
pizza_quantity = int(input("Enter the number of pizza: "))
burger_quantity = int(input("Enter the number of burger: "))
pasta_quantity = int(input("Enter the quantity of pasta: "))
sandwiches_quantity =int(input("Enter the number of sandwiches: "))
# calculate prices
pizza_price = pizza_quantity*400
burger_price = burger_quantity*100
pasta_price = pasta_quantity*100
sandwiches_price = sandwiches_quantity*100
#calculate single product
print("pizza actual price",pizza_price)
discout_in_pizza = pizza_price*5/100
with_discout= pizza_price - discout_in_pizza
print("With discout pizza prize",with_discout)
print("Burger price",burger_price)
print("Pasta price",pasta_price)
print("Sandwich prize",sandwiches_price)
# calculate the total bill
total_bill = (with_discout+burger_price+pasta_price+sandwiches_price)
# display total bill
print("Total bill: ", total_bill)
discout= total_bill*10/100
total_discout= total_bill-discout
print("Discout",total_discout)

# offer
cpn= input("enter the coupan code ")
if cpn =="ES432":
  coupan_discout_percent=10
  payable_amount= total_discout*coupan_discout_percent/100
  total_product_price =total_discout-payable_amount
  print("Coupan Avail",total_product_price)

else:
  wrong_coupan=0
  payable_amount=total_discout*wrong_coupan/100
  total_product_price = total_discout-payable_amount
  print("Invalid code",total_product_price)

#delivery charges
if total_product_price>=400:
  print("delivery charges free",total_product_price)
else:
  print("Delivery charges add",total_product_price+50)

In [ ]:
age = int(input("Enter your age"))
if age>=18:
  print("You are eligible for voting")
elif age>=1:
  print("Not eligible for voting")
else:
  print("Please enter your right age")

Enter your age15
Not eligible for voting

In [ ]:
Gender = input("Enter Your Gender: ")
Age = int(input("Enter your age: "))
if Gender == "Male":
          print("Block A")
          if Age<=30:
            print("age is less than or equal to 30 ")

elif Gender == "Female":
  print("Block b")
  if Age>30:
    print("Age is greter than 30")
else:
  print("Invalid")

In [ ]:
num1= float(input("Enter the first number: "))
op = input("Enter the Operator(+,-,*,/): ")
num2= float(input("Enter the second number: "))
if op=='+':
  print("Result is: ",num1+num2)
elif op=='-':
  print("Result is: ",num1-num2)
elif op=='*':
  print("Result is: ",num1*num2)
elif op=='/':
  if num2!=0:
    print("Result is: ",num1/num2)
  else:
    print("Error not divisible by zero")
else:
  print("Wrong operator")

Enter the first number: 10.3
Enter the Operator(+,-,*,/): +
Enter the second number: 12.3
Result is:  22.6

In [ ]:
import math
Radius = int(input("Enter the Radius: "))
area = math.pi*(Radius*Radius)
print("Area of circle is:",area)
Perimeter = 2*math.pi*Radius
print("Perimeter of circle is :",Perimeter)

Enter the Radius: 6
Area of circle is: 113.09733552923255
Perimeter of circle is : 37.69911184307752

In [ ]:
p = int(input("Enter the p amount"))
r = int(input("enter the rate"))
t = int(input("enter time"))
Simple_interest = p*r*t/100
print(Simple_interest)

In [ ]:
P = float(input("Enter p: "))
R = float(input("Enter rate: "))
M = float(input("Enter the months: "))
D = int(input("Enter days: "))
T = M + D/30
Simple_interest = P*R*T/100
print("Simple interest is:",Simple_interest)

In [ ]:
#simple interest
p = int(input("Enter principle: "))
r = int(input("Enter rate: "))
m = input("Enter month: ")
month = int(input("Enter the month: "))
y= int(input("Enter year: "))
d = int(input("Enter days: "))

if m == "january" or "march" or "may" or "july" or "august" or "october" or "december":
    t = month+d/31
elif m == "april" or "june" or "september" or"november":
    t = month+ d/30
elif m=="february":
    if y%4==0 and y % 100!=0 or y % 400==0:
      t= month+d/29
    else:
      t= month+ d/28
else:
  print("invalid")

si = p*r*t/100
print("Simple Interest:", si)
print(m)
print("Total amount: ",si+p)

Enter principle: 6000
Enter rate: 6
Enter month: july
Enter the month: 2
Enter year: 2021
Enter days: 12
Simple Interest: 859.3548387096774
july
Total amount:  6859.354838709677

In [ ]:
#leap year
year = int(input("Enter year :"))
if year % 4 ==0 and year % 100 != 0 or year % 400 == 0:
  print("leap year")
else:
  print("not leap year")

Enter year :2000
leap year

In [ ]:
#traffic lights
direction = input("Enter direction: ")
if direction == "north":
  print("(north in) is green")
  print("(east in) is red")
  print("(south in) is red")
  print("(west in) is red")

elif direction == "south":
    print("(south in) is green")
    print("(west in) is red")
    print("(north in) is green")
    print("(east in) is green")
elif direction== "west":
  print("(west in) is green")
  print("(north in) is red ")
  print("(south in) is red")
  print("(east in )is red")
elif direction== "east":
  print("(east in) is green")
  print("(south in) is red")
  print("(north in) is red")
  print("(west in) is red")
else:
  print("invalid direction")

Enter direction: north
north is green
east is red

In [ ]:
#sum from 1 to 1000
a = int(input("Enter fist term: "))
l = int(input("Enter last term: "))
n = int(input("Enter n: "))
print("the sum is:",n/2*(a+l))

Enter fist term: 1
Enter last term: 1000
Enter n: 1000
the sum is: 500500.0

In [ ]:
#sum from 1 to 1000
a1 = int(input("Enter first term: "))
a2 = int(input("Enter second term: "))
n = int(input("Enter n: "))
d = a2-a1
print("The difference is: ",d)
print("the sum is:",n/2*(a1+a1+(n-1)*d))

Enter first term: 3
Enter second term: 7
Enter n: 150
The difference is:  4
the sum is: 45150.0

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(1,5):
  print(i)

In [ ]:
sum = 0
for i in range(1,101):
  sum+=i
print(sum)

5050

In [ ]:
a1 = int(input("Enter first term: "))
a2 = int(input("Enter second term: "))
d= a2-a1
n = int(input("Enter n terms: "))
last_term = a1+(n-1)*d
sum = 0
for i in range(3,last_term,d):
  sum+=i
print(sum)

Enter first term: 3
Enter second term: 7
Enter n terms: 150
44551

In [ ]:
sum=0
for i in range(1,1002,5):
  sum+=i
print(sum)

100701

In [ ]:
fact = 1
for i in range(1,6):
  fact= fact*i
print(fact)

120

In [ ]:
first_term =0
second_term =1
print(first_term)
print(second_term)
for i in range(2,11):
 third_term = first_term+second_term
 first_term = second_term
 second_term = third_term
 print(third_term)

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
for i in range(9,5,-1):
  print(i)

9
8
7
6

In [ ]:
fact=1
sum=0
for i in range(1,3):
  fact=fact*i
  sum+=fact
print(sum)

3

In [ ]:
num=12
sum=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=int(num/10)
print(sum)

3

In [ ]:
num=int(input("Enter the numbers: "))
sum=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)

Enter the numbers: 456
15

In [ ]:
num= 897
rev = 0
while num>0:
  digit=num%10
  rev = rev*10+digit
  num = int(num/10)
print(rev)

798

In [ ]:
sum=0
for i in range(1,101):
  square =i*i
  sum=sum+square
  # print(square)
print(sum)

338350

In [ ]:
num= int(input("Enter the number"))
for i in range(2,num):
  for j in range(2,i):
    if i%j==0:
      break
  else:
   print(i)

In [ ]:
num=565
temp= num
rev=0
while num>0:
 digit = num%10
 rev=rev*10+digit
 num=int(num/10)
print(rev)
# print(num)
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

565
palindrome